.divider {
    animation: divider 2s !important;
}

.textdivider {
    animation: textdivider 4s !important;
    /* overflow: hidden !important; */
}

@keyframes divider {
    0% {width: 0%}
    33% {width: 0%}
    100% {width: 100%}
}
@keyframes textdivider {
    0% {color: transparent}
    50% {color: transparent}
    75% {color: black}
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: white;
}

/* estilos para los backgrounds del portafolio */

.bg {
    width: 90%;
    height: 100%;
    margin-left: 5%;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pt1 { background-image: url('/static/pt1.svg') }
.pt2 { background-image: url('/static/pt2.svg'); margin-top: 4%; }

/* animaciones para que aparezcan todas las secciones */

.gridContact, .gridSkills, .gridProyects, .gridPortfolio, .gridJob {
    animation: in 3s ease-in-out !important;
    /* overflow: hidden !important; */
}

@keyframes in {
    0% {opacity: 0}
    75% {opacity: 0}
    100% {opacity: 1}
}