@media only screen and (min-width: 600px) {
    html {
        overflow: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
  }

body {
    margin: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    background-image: url("/static/darkbg.jpg");
    background-size: cover;
    background-attachment: fixed;
 
}

#particles-js {
    position: fixed;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    opacity: 0.5;
}

.content {
    position: absolute;
    display: inline-block;
    width: 40vw;
    height: 80vh;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.205);
    margin-top: 10vh;
    margin-left: 5vw;
}